<script>

import * as d3 from 'd3';
import { handle_fade } from "../utils/helpers"

var scroll_length = 1000;

export default {
    name: "End",
    section: function() {
    return {
        name: "end",
        length: scroll_length,
        selector: "div.end"
    }
  },
  init
}

function init() {
    let svg_div = d3.select("div.end")
    svg_div.on("progress", () => {
      var progress = d3.event.detail;
      handle_fade(svg_div, progress)
    });
}

</script>
<style>
div.end {
    padding-top: 200px;
}
div.end a {
    font-size: 18px;
}

div.hr {
    border-bottom: 5px solid #1aabe2;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

</style>
<template>
    <div class="end">
        <div class="hr"></div>
        <div>
            Learn more:
            <br/>
            <br/>
            <br/>
            <a href="https://www.nature.com/articles/s41562-018-0382-8" target="_blank">Inferring Mechanisms for Global Constitutional Progress
                <br/><span style="color: #444; font-size:15px">  (2018) Nature Human Behaviour </span>
            </a> 

            <br/>
            <br/>
            <a href="https://www.ohchr.org/en/professionalinterest/pages/crc.aspx" target="_blank">
                The Convention on the Rights of the Child
            </a>
        </div>
        <div style="margin-top: 100px">
            Check out the <a href="#/what">What?</a> and <a href="#/who">Who?</a> pages.
        </div>
        <div style="margin-top: 100px">
            Contact:
            <br/>
            <br/>
            <a href="mailto:alex@alexrutherford.org">Alex Rutherford</a>
            <br/>
            <a href="mailto:mgarciaherranz@unicef.org">Manuel Garcia-Herranz</a>
        </div>
    </div>
</template>