<script>

import * as d3 from 'd3';
import { handle_fade, cp } from '../utils/helpers'

let scroll_length = 700;

var width = 1024*1.3;
var height = 600*1.3;
var svg;

function init() {
  
  svg = d3.select("svg.welcome-map");
  let svg_div = d3.select("div.welcome-map")
  svg.attr("width", width).attr("height", height + 100)

  svg_div.on("progress", () => {
      var progress = d3.event.detail;

      handle_fade(svg_div, progress)
  });

  svg.select("g.scroll")
    .attr("transform", `translate(${width/2.} ${height})`)

  let promises = []
  promises.push(d3.json("data/network_lat_long_extended.json"))
  promises.push(d3.json("data/countries.json"))
  promises.push(d3.json("data/world_countries_ext.json"))
  Promise.all(promises).then((values) => {
    render.apply(null, values)
  });

  return scroll_length;
}

function render(network, countries, map_data) {

  window.countries = countries;
  var rScale = d3.scaleLinear()
                    .domain(d3.extent(network.nodes, d => d.area))
                    .range([2, 4])

  var features = map_data.features.filter(d => (d.id !== "ATA" && d.id !== "GRL"));

  var projection = d3.geoVanDerGrinten()
                     .scale(130*1.3)
                     .translate( [width / 2, height / 1.5]); 

  var path = d3.geoPath().projection(projection);

  svg.selectAll("g.tip")
    .attr("transform", `translate(150 ${height - 100})`);
  svg.select("text.no_of_countries")
    .text(network.nodes.length + " countries");

  let svg_nodes = svg.append("g").attr("class", "nodes")
  svg_nodes.attr("filter", "url(#dropshadow-welcome-color)")

  let tip_default = svg.select("g.tip-default")
  let tip_hover = svg.select("g.tip-hover")

  let paths = svg.append("g").attr("class", "countries").selectAll("path")
    .data(features)
    .enter()
      .append("path")
        .attr("class", "states")
        .attr("d", path)
        .attr("stroke", "none")
        .attr("fill", "transparent")
        .on('mouseover', function(d){
          let $this = d3.select(this)
          $this.attr("fill", "#1AABE2").attr("opacity", 0.2)
          tip_hover.select("text.country").text(d.properties.name)
          tip_hover.select("tspan.year").text(d.properties.year)
          tip_hover.select("tspan.length").text(d.properties.length.toLocaleString())
          tip_hover.select("tspan.rights").text(d.properties.rights)
          tip_default.style("display", "none")
          tip_hover.style("display", "")
        })
        .on('mouseout', function(){
          paths.attr("fill", "transparent");
          tip_default.style("display", "")
          tip_hover.style("display", "none")
        });

  // svg_nodes.selectAll("circle")
  //     .data(network.nodes)
  //     .enter()
  //       .append("circle")
  //         .attr("class", "node-states")
  //         .attr("d", path)
  //         .attr("r", d => rScale(d.area))
  //         .attr("title", d => d.id)
  //         .attr("fill", "#1AABE2")
  //         .attr("cx", d => projection([d.long, d.lat])[0])
  //         .attr("cy", d => projection([d.long, d.lat])[1])
  //         .on('mouseover', function(d){
  //           tip_hover.select("text.country").text(d.id)
  //           tip_hover.select("tspan.year").text(d.rawYear)
  //           tip_hover.select("tspan.length").text(d.length)
  //           tip_hover.select("tspan.rights").text(d.rights)
  //           tip_default.style("display", "none")
  //           tip_hover.style("display", "")
  //         })
  //         .on('mouseout', function(){
  //           tip_default.style("display", "")
  //           tip_hover.style("display", "none")
  //         });

}

function section() {
  return {
      name: "",
      length: scroll_length,
      selector: "div.welcome-map"
  }
}

export default {
  name: 'FirstMap',
  init,
  section
}

</script>

<style>

svg.welcome-map {
  will-change: opacity, scroll-position;
  left: calc(50vw - 665px) !important;
  top: calc(40vh - 400px) !important;
}

text.intro {
  font-size: 16px;
}
text.no_of_countries, text.country {
  font-size: 24px;
}


</style>

<template>
  <div class="welcome-map">
    <svg class="viz welcome-map">
      <defs xmlns="http://www.w3.org/2000/svg">
        <filter id="dropshadow-welcome-color" color-interpolation-filters="sRGB" 
                x="-20%" y="-20%" width="150%" height="150%">
          <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
          <feOffset dx="1" dy="1" />
          <feMerge> 
            <feMergeNode/> <!-- this contains the offset blurred image -->
            <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
          </feMerge>
        </filter>
         <filter id="svg-underline" primitiveUnits="objectBoundingBox">
          <feMorphology in="SourceGraphic" operator="dilate" radius="0.0075 0.05" result="outline"></feMorphology>
          <feFlood flood-color="orange" width="1" height="0.1" x="0" y="1" result="underline"></feFlood>
          <feComposite in="underline" in2="outline" operator="out" result="underline"></feComposite>
          <feMerge>
            <feMergeNode in="underline"></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
          </feMerge>
        </filter>
        <filter id="dropshadow-line" height="600" width="600" filterUnits="userSpaceOnUse">
          <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
          <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.5"/> <!-- slope is the opacity of the shadow -->
          </feComponentTransfer>
          <feMerge> 
            <feMergeNode/> <!-- this contains the offset blurred image -->
            <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
          </feMerge>
        </filter>
      </defs>
      <!-- <image xlink:href="./images/world.png" width="800" height="600"/> -->
      <image xlink:href="./images/world_darker.png" y="120" height="663" width="1100" x="177"></image>
      <g class="tip tip-default">
        <text class="intro" text-anchor="start">
          There are currently
        </text>
        <text filter="url(#svg-underline)" transform="translate(0 30)" class="no_of_countries">
          149 countries
        </text>
        <text class="intro" transform="translate(0 65)">
          with a national constitution.
        </text>
<!--         <text class="intro" transform="translate(0 90)">
          The constitution is the highest law of the country
        </text>
        <text class="intro" transform="translate(0 115)">
          and often includes rights or minorities such as children and women
        </text>
 -->      </g>
      <g class="tip tip-hover" style="display: none;" transform="translate(120 680)">
        <line filter="url(#dropshadow-line)" stroke="#1AABE2" stroke-width="5" x1="-15" x2="-15" y1="-24" y2="8"></line>
        <text class="country">Canada</text><text class="intro" transform="translate(0 40)">
          Enacted in <tspan class="year">1867</tspan>.
        </text>
        <text class="intro" transform="translate(0 60)">
          Length <tspan class="length">1867</tspan> words.
        </text>
        <text class="intro" transform="translate(0 80)">
          Includes <tspan class="rights">1867</tspan> rights.
        </text>
      </g>
      <g fill="none" class="scroll">
          <g stroke="#4A4A4A">
              <rect id="Rectangle-3" x="0.5" y="3.5" width="10" height="17" rx="5"></rect>
              <path d="M5.5,6 L5.5,9" id="Line" stroke-linecap="round"></path>
              <path d="M5.5,0 L5.5,3" id="Line" stroke-linecap="round"></path>
          </g>
          <g>
            <animateTransform attributeName="transform" attributeType="XML" type="translate" from="0 0" to="0 10" dur="1s" repeatCount="indefinite"/>
            <path d="M4,27 L7.5,27 C7.77614237,27 8,27.2238576 8,27.5 C8,27.7761424 7.77614237,28 7.5,28 L3.5,28 C3.22385763,28 3,27.7761424 3,27.5 L3,23.5 C3,23.2238576 3.22385763,23 3.5,23 C3.77614237,23 4,23.2238576 4,23.5 L4,27 Z" id="Combined-Shape" fill="#4A4A4A" fill-rule="nonzero" transform="translate(5.500000, 25.500000) rotate(-45.000000) translate(-5.500000, -25.500000) ">
            </path>
          </g>
      </g>
    </svg>
  </div>
</template>
