<script>
   
import * as d3 from 'd3';
import { handle_fade } from "../utils/helpers" 

let scroll_length = 500;
let width = 1000;
let height = 700

export default {
    name: "FirstText",
    section: function() {
        return {
            name: "first-text",
            length: scroll_length,
            selector: "div.first-text"
        }
    },
    init: () => {
        let svg = d3.select("svg.first-text")
        svg.attr("width", width).attr("height", height)

        let svg_div = d3.select("div.first-text")
        svg_div.on("progress", () => {
          var progress = d3.event.detail;
          handle_fade(svg_div, progress)
        });

        svg.select("g.text").attr("transform", `translate(${width/2.} ${height/2. - 50})`)
        svg.select("g.scroll").attr("transform", `translate(${width/2.} ${height - 70})`)
    }
}

</script>

<style>
    
svg.first-text {
    top: calc(50vh - 300px) !important;
    left: calc(50vw - 500px) !important;
}
svg.first-text text.h1 {
    text-anchor: middle;
    font-size: 32px;
    fill: #444;
}

</style>

<template>
    <div class="first-text">
        <svg class="first-text">
            <g class="text">
                <text class="h1" transform="translate(0 30)">The constitution is the highest law of the country</text>
                <text class="h1" transform="translate(0 80)">and often includes rights of minorities such as children and women</text>
            </g>
            <g class="scroll" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-615.000000, -725.000000)">
                    <g transform="translate(501.000000, 721.000000)">
                        <text style="text-anchor: start" font-size="14" fill="#4A4A4A">
                            <tspan x="23.605957" y="14">Scroll to continue...</tspan>
                        </text>
                        <g transform="translate(74, 31.000000)">
                            <g stroke="#4A4A4A">
                                <rect id="Rectangle-3" x="0.5" y="3.5" width="10" height="17" rx="5"></rect>
                                <path d="M5.5,6 L5.5,9" id="Line" stroke-linecap="round"></path>
                                <path d="M5.5,0 L5.5,3" id="Line" stroke-linecap="round"></path>
                            </g>
                            <g>
                              <animateTransform attributeName="transform" attributeType="XML" type="translate" from="0 0" to="0 10" dur="1s" repeatCount="indefinite"/>
                              <path d="M4,27 L7.5,27 C7.77614237,27 8,27.2238576 8,27.5 C8,27.7761424 7.77614237,28 7.5,28 L3.5,28 C3.22385763,28 3,27.7761424 3,27.5 L3,23.5 C3,23.2238576 3.22385763,23 3.5,23 C3.77614237,23 4,23.2238576 4,23.5 L4,27 Z" id="Combined-Shape" fill="#4A4A4A" fill-rule="nonzero" transform="translate(5.500000, 25.500000) rotate(-45.000000) translate(-5.500000, -25.500000) ">
                              </path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</template>