<template>
<div>
    <nav>
        <div class="toggle-wrap">
            <span class="toggle-bar"></span>
        </div>
    </nav>
    <aside>
        <a href="#/home" style="margin-right: -50px"><span>Constitutionology</span></a>
        <a href="#/what" style="margin-right: -50px"><span>What?</span></a>
        <a href="#/who" style="margin-right: -50px"><span>Who?</span></a>
    </aside>
</div>
</template>

<script>

import * as d3 from 'd3';

export default {
    name: 'Navigation',
    mounted: () => {
        let menu = d3.select(".toggle-wrap")
        let aside = d3.select("aside")
        let svgs = d3.select(".svgs")
        let container = d3.selectAll(".scroll-container, .page")
        let asides = aside.selectAll("a")
        let visible = false

        let hideMenu = () => {
            menu.attr("class", "toggle-wrap");

            aside
                .transition().duration(500).delay(100)
                .style("right", "-300px")
            svgs
                .transition().duration(500)
                .style("opacity", 1)
            
            container
                .transition().duration(500)
                .style("opacity", 1)
            
            asides
                .transition()
                .duration(500)
                .delay((d, i) => i*100)
                .style("margin-right", "-50px")

            visible = false;
        }

        let router = (address) => {

            address = address || "home";
            window.page = address;

            d3.selectAll("div.svgs > div").style("display", "none");
            d3.selectAll("div.page").style("display", "none");
            d3.select(`div.page.${address}`).style("display", "");

            if (address != "home") {
                d3.select("div.logo").style("opacity", 1)
                d3.select("div.banner-top").style("display", "")
            }
            else {
                d3.select("div.logo").style("opacity", 0)
                d3.select("div.banner-top").style("display", "none")
            }

            window.scrollTo(0,0);
        }

        router(window.location.hash.substr(2))
        window.onhashchange = () => {
          router(window.location.hash.substr(2))
        }

        asides.on("click", function() {
            let address = d3.select(this).attr("href")
            hideMenu()
            router(address.substr(2))
        })

        menu.on("click", function() {
            if (!visible) { 
                menu.attr("class", "toggle-wrap active");
                aside
                    .transition().duration(500)
                    .style("right", "5px")
                svgs
                    .transition().duration(500)
                    .style("opacity", 0.2)
                
                container
                    .transition().duration(500)
                    .style("opacity", 0.2)

                asides
                    .transition()
                    .duration(500)
                    .delay((d, i) => i*100)
                    .style("margin-right", "0px")

                visible = true
            }
            else {
                hideMenu();
            }
        })
    }
}
</script>

<style>
nav {
  right: 0px;
  position: absolute;
  z-index: 100;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
hgroup {
  float:left;
  margin: 2px 2px 2px 10px;
}
aside {
  z-index: 99;
  position: absolute;
  width: 300px;
  height: 100%;
  right: -300px;
  top: 0;
}
aside::before {
  content: "";
  display: block;
  height: 100px;
}
aside a {
  display: block;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-align: right;
}
aside a span {
    border-bottom: 1px solid transparent;
    padding: 0 6px 6px 6px;
}
aside a:hover span {
    border-bottom: 1px solid #1AABE2;
}
.toggle-wrap {
  padding: 20px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  float: left;
  
  /*disable selection*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.toggle-bar {
    width: 17px;
    margin: 10px 0;
    position: relative;
    border-top: 1px solid #303030;
    display: block;
    border-bottom: 1px solid #303030;
    height: 9px;
}
.toggle-bar::before,
.toggle-bar::after {
    content: "";
    display: block;
    background: #303030;
    height: 1px;
    width: 20px;
    position: absolute;
    top: -6px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 15%;
    transform-origin: 15%;
}
.toggle-bar::after {
  top: 4px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
  border-bottom: 1px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
</style>