<script>

export default {
    name: "WhatPage"
}
</script>
<template>
    <div class="page page-style what">
        <h1><span>What is Constitutionology?</span></h1>
        <section>
            Constitutionology is a neologism for the scientific analysis of national constitutions.
            Techniques such as information retrieval, network analysis and natural language
            processing allow us to understand how constitutions change and what causes specific
            provisions e.g. Protection from child labour or the right to privacy to be adopted.
        </section>
        <h1><span>Why is it important?</span></h1>
        <section>
            Constitutions reflect the character of a country, the rights of citizens and role of
            institutions and obligations under international law. However they are complex
            documents; constitutions are amended and rewritten, they imitate each other and are
            influenced by current event and new social norms. Quantitative analysis of the contexts
            of all constitutions and their historical changes allow us to understand how we may
            advocate more effectively for new provisions that help to protect vulnerable children.
        </section>
        <h1><span>Where is the data from?</span></h1>
        <section>
            Three different datasources were used for the analysis presented on this site:
            <ul>
              <li>English translations of the current constitutions from the <a href="https://www.constituteproject.org/" target="_blank">Constitute Project</a></li>
              <li>Expert tagging of 390 different constitutional provisions in the same documents</li>
              <li>Historical constitutional amendment data from the 
                <a href="http://comparativeconstitutionsproject.org/" target="_blank">Comparative Constitutions Project</a></li>
            </ul>
        </section>
        <h1><span>How can I learn more?</span></h1>
        <section>
            The data, findings and methodology are described in detail in the scientific paper
            <a href="https://www.nature.com/articles/s41562-018-0382-8" target="_blank">Inferring Mechanisms for Global Constitutional Progress</a> 
            as well as the following <a href="http://unicefstories.org/2018/08/02/constitutionology/" target="_blank">blog bost</a>.
        </section>
        <section style="margin-top: 30px">
            Site developed by <a href="http://tankovic.me" target="_blank">Nikola Tankovic</a>.
        </section>
    </div>
</template>