<script>
export default {
  name: 'Timeline',
  data: () => {
    return {
        people: [
            {
                name: "Alex Rutherford",
                image: "./images/alex.png",
                text: "UNICEF Office of Innovation",
                text_url: "http://unicefstories.org/",
                url: "https://www.alexrutherford.org/"
            },
            {
                name: "Yonatan Lupu",
                image: "./images/yonatan.png",
                text: "George Washington University",
                text_url: "http://yonatanlupu.com/",
                url: "http://yonatanlupu.com/"
            },
            {
              name: "Manuel Cebrian",
              image: "./images/cebrian.png",
              text: "Scalable Cooperation, MIT Media Lab",
              text_url: "https://www.media.mit.edu/groups/scalable-cooperation/overview/",
              url: "https://www.media.mit.edu/people/cebrian/overview/"
            },
            {
                name: "Iyad Rahwan",
                image: "./images/iyad.png",
                text: "Scalable Cooperation, MIT Media Lab",
                text_url: "https://www.media.mit.edu/groups/scalable-cooperation/overview/",
                url: "https://rahwan.me"
            },
            {
              name: "Brad LeVeck",
              image: "./images/brad.png",
              text: "UC Merced",
              text_url: "http://faculty.ucmerced.edu/bleveck/",
              url: "http://faculty.ucmerced.edu/bleveck/"
            },
            {
              name: "Manuel Garcia-Herranz",
              image: "./images/garcia.png",
              text: "UNICEF Office of Innovation",
              text_url: "http://unicefstories.org/",
              url: "https://manuelherranz.com/"
            }
        ]
    }
  }
}

</script>
<style>

div.page.who h1 {
  line-height: 30px;
}
div.page.who img {
  object-fit: cover;
  background: #D8D8D8;
  box-shadow: 0 64px 64px 0 rgba(0,0,0,0.03), 0 32px 32px 0 rgba(0,0,0,0.03), 0 16px 16px 0 rgba(0,0,0,0.03), 0 8px 8px 0 rgba(0,0,0,0.03), 0 4px 4px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.03);
  border-radius: 5px;
}
div.people-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
div.people {
  margin: 10px;
  margin-top: 30px;
  flex-grow: 1;
}
div.people-text {
  max-width: 200px;
  font-size: 15px;
  line-height: 150%;
}

</style>

<template>
<div class="page page-style who">
  <h1><span>Who we are</span></h1>
  <section>
    We are an interdisciplinary team of researchers across data science, computer science, law, political sciences and development 
    from UNICEF Office of Innovation, Massachusetts Institute of Technology, NICTA Melbourne, George Washington University and University of California Merced. 
    This site accompanies the scientific paper <a href="https://www.nature.com/articles/s41562-018-0382-8" target="_blank">Inferring Mechanisms for Global Constitutional Progress</a> 
  </section>
  <section>
    <div class="people-container">
      <div class="people" v-for="p in people">
        <a v-bind:href="p.url" target="_blank"><img v-bind:src="p.image" width="200" height="220"/></a>
        <h3>{{p.name}}</h3>
        <div class="people-text"><a v-bind:href="p.text_url">{{p.text}}</a></div>
      </div>
    </div>
  </section>
</div>
</template>

